main {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(./background.jpg);
}
.img {
	/* background-image: url(./background.jpg);
filter: blur(2px); */
	z-index: 1;
	position: absolute;
}
header {
	position: fixed;
}
.menu {
	font-size: 2rem;
	color: wheat;
}
.container {
	flex: 0 0 calc(45% - 1rem);
	height: 67%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.video-container {
	height: 90%;
	width: 100%;
	margin-bottom: 1.5rem;
}

.firstUser {
	height: 10%;
	width: 100%;
}

#videoUrl {
	padding: 1.8%;
	width: 77%;
	background-color: wheat;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: wheat;
}

::-webkit-scrollbar-thumb {
	background: #561617;
}
iframe {
	width: 100%;
	height: 100%;
}

#chatContainer {
	flex: 0 0 calc(45% - 1rem);
	/* margin-top: 3%; */
	height: 67%;
	background-color: black;
	color: wheat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#chatContainer ul {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

#chatContainer h2 {
	text-align: center;
	width: 100%;
	font-size: 1.5rem;
	padding: 0.5rem 0;
	background-color: black;
	border-bottom: 1px solid;
}

#chatContainer form {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 0.5rem;
}

#chatContainer form input {
	flex: 0 0 calc(70% - 2rem);
	padding: 0.5rem;
	border-radius: 0.5rem;
	border: none;
	background-color: wheat;
}

#chatContainer form button {
	flex: 0 0 calc(30% - 3rem);
}

.btn {
	border: 2px solid;
	padding: 0.5rem 1rem;
	background-color: #561617;
	color: wheat;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.12rem;
	font-size: 1.1rem;
	border-radius: 0.5rem;
}

.btn:hover {
	cursor: pointer;
	background-color: wheat;
	color: #561617;
}

#chatBoard li {
	margin: 1rem;
	background-color: #561617;
	width: 300px;
	padding: 0.5rem;
	border-radius: 0.5rem;
	word-wrap: break-word;
	font-family: cursive;
}

#chatBoard li h3 {
	margin-bottom: 0.5rem;
}

#chatBoard li p {
	letter-spacing: 0.1rem;
}

.hide {
	display: none;
}

.userAdmin {
	pointer-events: none;
}
